* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  border: black solid 1px;
  border-right: solid 2px blue;
  background-color: black;
  border-radius: 12px;
  position: absolute;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
  left: 20px;
  top: 45px;
  color: white;
  width: 650px;
  height: 575px;
  font-size: 75px;
  /* border: solid white 1px; */
  overflow: hidden;
}

.emotion-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 170px;
  overflow: hidden;
}

.circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: pink;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  overflow: hidden;
}

#circle-1 {
  margin: 10px;
}
#circle-2 {
  margin: 10px;
}
#circle-3 {
  margin: 10px;
}
#circle-4 {
  margin: 10px;
}
#circle-5 {
  margin: 10px;
}
#circle-6 {
  margin: 10px;
}

.bg-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  color: white;
  background-color: blue;
  border-radius: 2px;
  width: 900px;
  height: 40px;
  padding: 0;
}

.emotion-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 700px;
}

.emotion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  border: solid white 1px;
  width: 105px;
  height: 105px;
  font-size: 25px;
  cursor: pointer;
}
#insideBox {
  border-bottom: solid white 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
  position: relative;
  left: 2px;
}

#emoji-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  bottom: 35px;
}

.line {
  display: flex;
  position: relative;
  left: -150px;
  bottom: 1px;
  border-left: 2px solid blue;
  height: 660px;
  color: white;
}
.line-2 {
  display: flex;
  position: relative;
  left: -1px;
  bottom: 1px;
  margin-top: 0px;
  border-left: 6px solid blue;
  height: 660px;
  color: white;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-size: 18px;
  font-weight: 400px bold;
  top: 50px;
}

#insideP {
  text-align: center;
  border: none;
}
