* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bg {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(48, 173, 236) 0%,
    rgb(89, 170, 192) 15.9%,
    rgb(24, 105, 84) 15.9%,
    rgb(11, 123, 80) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  border: black solid 1px;
  border: solid 2px rgb(0, 166, 255);
  border-radius: 12px;
  position: absolute;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
  left: 20px;
  top: 45px;
  color: white;
  width: 650px;
  height: 575px;
  font-size: 75px;
  /* border: solid white 1px; */
  overflow: hidden;
}

.emotion-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 170px;
  overflow: hidden;
}

.circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: rgb(194, 194, 194) 1px solid;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  overflow: hidden;
}

#circle-letter {
  margin: 10px;
}

.bg-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  color: white;
  background-color: rgb(0, 166, 255);
  border-radius: 2px;
  width: 897px;
  height: 40px;
}

.emotion-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 700px;
}

.emotion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  border: solid white 1px;
  width: 105px;
  height: 105px;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
}
#insideBox {
  border-bottom: solid white 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
  position: relative;
  left: 2px;
}

#emoji-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  bottom: 35px;
}

.line {
  display: flex;
  position: relative;
  left: -150px;
  bottom: 1px;
  border-left: 2px solid rgb(0, 166, 255);
  height: 660px;
  color: white;
}
.line-2 {
  display: flex;
  position: relative;
  left: -1px;
  bottom: 1px;
  margin-top: 0px;
  border-left: 6px solid rgb(0, 166, 255);
  height: 660px;
  color: white;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-size: 18px;
  font-weight: 400px bold;
  top: 50px;
}

#insideP {
  text-align: center;
  border: none;
}

.blockA {
  display: flex;
  justify-content: center;
  position: relative;
  top: 115px;
  right: 325px;
  font-size: 60px;
  border: solid rgb(194, 194, 194) 1px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgb(33, 168, 132);
}
